<% if current_user %>
<h1>Skills</h1>
<p>Please enter your skills to help you find jobs.</p>
<p>We will do our best to find you job that matches your skills.</p>

<div class="container">
  <div class="form input-fields">
    <h3><%=current_user.first_name%></h3>
    <h4> Please enter all the skills</h4>
    <%= form_for @skill do |f| %>
      <%= f.text_field :skill1, :placeholder => "Skill1" %>
      <%= f.text_field :skill2, :placeholder => "Skill2" %>
      <%= f.text_field :skill3, :placeholder => "Skill3" %>
      <%= f.text_field :skill4, :placeholder => "Skill4" %>
      <%= f.text_field :skill5, :placeholder => "Skill5" %>
      <%= f.submit "Submit", class: "btn-submit" %>
    <% end %>
  </div>
</div>
<%else%>
    <h1>You cannot access this page</h1>
<%end%>
