<% if current_user %>
<h1>Welcome <%= current_user.first_name %></h1>


<div class="container">
  <div class="card">
    <img class="card-img-top" src="http://coussej.github.io/images/avatar.png" height="200" width="200" >
    <div class="card-block">
      <h4 class="card-title"><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <p><%= @user_skill.skill1 %> | <%= @user_skill.skill2 %> | <%= @user_skill.skill3 %> |
      <%= @user_skill.skill4 %> | <%= @user_skill.skill5 %> </p>

    </div>
  </div>

  <div class="card">
    <div class="job-search">
      <input type="text" placeholder="Skill" id="skill1">
      <input type="text" placeholder="Skill" id="skill2">
      <input type="text" placeholder="Skill" id="skill3">
      <input type="submit" id="usersearch">
    </div>
  </div>
</div>

<div class="container">
  <h2>All the jobs related to your skills</h2>
  <div id="jobs">


  </div>
</div>


<%else%>




<div class="container">
  <h1>Full Stack Web Developer Jobs</h1>
  <p>Are you looking for full stack web developer jobs? Your search ends here. We will provide you best job on the market, once you become our free member by signing up. Sign up takes less than a minute. We do not save your password or none of our developer will be able to see. Because it is Hashed on our database.</p>
  <div id="guest-jobs">

    <h2>Full stack web developer jobs</h2>

  </div>
</div>



<% end %>
