<!DOCTYPE html>

<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

<!-- nav container -->

<!-- main body container -->

    <div class="header">
      <div class="container">
        <%= link_to root_path do %>

        <% end %>

        <div class="nav pull-right">
          <% if current_user %>
            <ul>
              <li><a href="/"><img src="assets/logo.png" alt=""></a></li>
              <li><%= link_to "Home", '/' %></li>
              <li><%= link_to "Skills", 'skills' %></a></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              <li><%= current_user.email %></li>
            </ul>
          <% else %>
            <ul>
              <li><a href="/"><img src="assets/logo.png" height="30px"></a></li>
              <li><%= link_to "Login", 'login' %></a></li>
              <li><%= link_to "Signup", 'signup' %></a></li>

            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
